In [18]:
import pandas as pd
import os
import requests

In [36]:
df_pos=pd.read_csv('./BANKVISTA_portfolios_20230503_20230504-190004.csv',sep=";",converters={
    'AccountCcy':str,
    'GroupID':str,
    'AccountList':str,
    'CodeName':str,
    'OtherID':str,
    'ManagementType':str,
    'InvestmentPolicy':str,
    'AccountID':str,
    'PortfolioId':str
    })

In [46]:
tester=pd.read_csv(("./BANKVISTA_portfolios_20230503_20230504-190004.csv"),sep=";")
tester.head()

,Status,EvaluationCurrency,AccountName,AccountID,GroupID,AccountList,CodeName,OtherID,ManagementType,CustodyBank,...,InsuranceType,InvestmentPolicy,ManagementGroup,ClientNature,AccountManager1,AccountManager2,RelationshipManager,CreationDate,OpeningDate,ClosingDate
0,Closed,EUR,Madame Raja KACHTOULI,000314243,0,"62,64,95,100",NaN,NaN,Securities Account,CM CIC,...,Not Defined,Not Defined,Information mandate,Not Defined,DE VILLENEUVE EMMANUEL,HARDY ETIENNE,DE VILLENEUVE EMMANUEL,09/03/2016 16:16:27,02/06/2008,09/02/2017
1,Closed,EUR,Madame Françoise DURIEUX-CANONNE,000264855,0,"62,64,95,100",NaN,NaN,Securities Account,CM CIC,...,Not Defined,Not Defined,Management mandate,Not professional,LAZARE MAUD,LAZARE MAUD,LAZARE MAUD,27/01/2016 15:09:58,19/07/1996,08/09/2016
2,Closed,EUR,Monsieur Bernard GHESQUIERES,000701031,0,"62,64,95,100",AP2 31,NaN,Life Insurance Contract,CM CIC,...,Not Defined,Not Defined,Management mandate insurance,Professional nature,DE LA GORCE THIERRY,LE PRADO XAVIER,CORDEBAR SEBASTIEN,27/01/2016 15:09:58,31/12/2013,14/10/2016
3,Closed,EUR,Monsieur Bernard GHESQUIERES,000264842,0,"62,64,95,100",NaN,NaN,Securities Account,CM CIC,...,Not Defined,Not Defined,Management mandate,Not professional,DE LA GORCE THIERRY,LE PRADO XAVIER,CORDEBAR SEBASTIEN,27/01/2016 15:09:58,21/11/2003,08/04/2016
4,Closed,EUR,Monsieur Frédéric BEHAR,000322114,0,"62,64,95,100",NaN,NaN,PEA,CM CIC,...,Not Defined,Not Defined,Management mandate PE,Not professional,DE LA GORCE THIERRY,LE PRADO XAVIER,CORDEBAR SEBASTIEN,27/01/2016 15:09:58,05/12/2000,04/08/2017

In [37]:
df_pos['AccountCcy']=df_pos['AccountCcy'].astype('str')
df_pos['PortfolioId']=df_pos['PortfolioId'].astype('str')

In [39]:
df_pos['AccountManager1']='MASQUE'

In [38]:
(df_pos['AccountID']==df_pos['PortfolioId']).all()

KeyError: 'AccountID'

In [ ]:
def extractDate(x):
    t=x.split(' ')
    if len(t) > 1:
        y=t[0]
    else:
        y=x
    return y
    
df_pos['CreationDate']=df_pos['CreationDate'].apply(extractDate)

In [ ]:
df_pos['InvestmentPolicy'].dtype

dtype('O')

In [ ]:
df_pos['InvestmentPolicy']=df_pos['InvestmentPolicy'].apply(lambda x: x.strip() if x==x else '')

In [ ]:
df_pos['InvestmentPolicy']

0                            Not Defined
1                            Not Defined
2                            Not Defined
3                            Not Defined
4                            Not Defined
                     ...
95                      D - Equilibré PE
96             En cours de détermination
97             En cours de détermination
98
99    B - Diversifié hors Private Equity
Name: InvestmentPolicy, Length: 100, dtype: object

In [ ]:
js_input=df_pos.to_json(orient='records')

In [ ]:
URL = "http://127.0.0.1:5001/api/setpositions"
  
  
# defining a params dict for the parameters to be sent to the API
json = js_input
  
# sending get request and saving the response as response object
r = requests.post(url = URL, json = json)
  
# extracting data in json format
print(r)

<Response [500]>

In [ ]:
df_pos

,Unnamed: 0,Status,EvaluationCurrency,AccountName,AccountID,GroupID,AccountList,CodeName,OtherID,ManagementType,...,Security,ISIN,Bloomberg,SecurityCcy,Quantity,Price,ValueSecurityCcy,ValueAccountCcy,AccountCcy,AccruedInterest
0,0,Active,EUR,XXXX,00304913.001,NaN,95,NaN,NaN,Securities Account,...,NaN,NaN,NaN,NaN,0.0,0.0000,0.00,2062.66,EUR,0.0
1,1,Active,EUR,XXXX,00304917.001,NaN,95,NaN,NaN,Securities Account,...,LYX CAC 40 DR D-EUR ETF,FR0007052782,CAC FP Equity,EUR,10482.0,69.1100,724411.02,724411.02,EUR,0.0
2,2,Active,EUR,XXXX,00304917.001,NaN,95,NaN,NaN,Securities Account,...,HSBC SRI EUROLAND EQUITY IC,FR0010250316,HSVRESI FP Equity,EUR,3410.0,179.5500,612265.50,612265.50,EUR,0.0
3,3,Active,EUR,XXXX,00304917.001,NaN,95,NaN,NaN,Securities Account,...,LYXOR ETF C/40 DD,FR0010411884,BX4 FP Equity,EUR,500000.0,0.9854,492700.00,492700.00,EUR,0.0
4,4,Active,EUR,XXXX,00304917.001,NaN,95,NaN,NaN,Securities Account,...,HSBC SRI EUR BD Parts -I-,FR0010489567,HSBEORI FP Equity,EUR,6.0,152786.7000,916720.20,916720.20,EUR,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Active,EUR,XXXX,2188547,2188540,"41,50,62,64,95,100",NaN,NaN,Securities Account,...,NaN,NaN,NaN,NaN,0.0,0.0000,0.00,0.00,EUR,0.0
96,96,Active,EUR,XXXX,2067590,2067590,"41,50,62,64,95,100",NaN,NaN,Securities Account,...,NaN,NaN,NaN,NaN,0.0,0.0000,0.00,0.00,EUR,0.0
97,97,Active,EUR,XXXX,2067597,2067590,"41,50,62,64,95,100",NaN,NaN,Securities Account,...,NaN,NaN,NaN,NaN,0.0,0.0000,0.00,0.00,EUR,0.0
98,98,Active,EUR,XXXX,2071780,2071780,"41,50,62,64,95,100",NaN,NaN,Securities Account,...,NaN,NaN,NaN,NaN,0.0,0.0000,0.00,0.00,EUR,0.0
99,99,Active,EUR,XXXX,09851830601,0,"56,62,64,95,100",NaN,NaN,Securities Account,...,AXA SA,FR0000120628,CS FP Equity,EUR,2847.0,26.8500,76441.95,76441.95,EUR,0.0

In [41]:
df_pos=pd.read_csv('./BANKVISTA_positions_20230503_20230504-190003.csv',sep=';',converters={
    'Security':str,
    'ISIN':str,
    'OtherID':str,
    'Bloomberg':str,
    'SecurityCcy':str,
    'AccountCcy':str,
})

df_pos['AccountCcy']=df_pos['AccountCcy'].astype('str')
df_pos['PortfolioId']=df_pos['PortfolioId'].astype('str')
df_pos['AccountManager1']='MASQUE'


def extractDate(x):
    t=x.split(' ')
    if len(t) > 1:
        y=t[0]
    else:
        y=x
    return y

df_pos['Date']=df_pos['Date'].apply(extractDate)

#df_pos['InvestmentPolicy']=df_pos['InvestmentPolicy'].apply(lambda x: x.strip() if x==x else '')

js_input=df_pos.to_json(orient='records')

URL = "http://127.0.0.1:5001/api/setpositions"

# defining a params dict for the parameters to be sent to the API
json = js_input

# sending get request and saving the response as response object
r = requests.post(url = URL, json = json)

# extracting data in json format
print(r)

<Response [500]>

In [42]:
df_pos

,PortfolioId,Date,Security,ISIN,Bloomberg,SecurityCcy,Quantity,Price,ValueSecurityCcy,ValueAccountCcy,AccountCcy,AccruedInterest,AccountManager1
0,0000180491Q,03/05/2023,,,,,0.00,0.00,0.00,0.00,CHF,0.0,MASQUE
1,0000180491Q,03/05/2023,,,,,0.00,0.00,0.00,1199849.99,EUR,0.0,MASQUE
2,0000180491Q,03/05/2023,,,,,0.00,0.00,0.00,0.00,GBP,0.0,MASQUE
3,0000180491Q,03/05/2023,,,,,0.00,0.00,0.00,0.00,JPY,0.0,MASQUE
4,0000180491Q,03/05/2023,,,,,0.00,0.00,0.00,0.00,NOK,0.0,MASQUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11969,K0762503,03/05/2023,MASSENA SPECIAL RECOVERY A,FR0010852384,,EUR,36429.29,16.09,586147.28,586147.28,EUR,0.0,MASQUE
11970,K0762503,03/05/2023,MASSENA SPECIAL RECOVERY B,FR0010852392,,EUR,36797.27,0.00,0.00,0.00,EUR,0.0,MASQUE
11971,K0762503,03/05/2023,ESSLING EXPANSION FF - A,FR0013348927,,EUR,200.00,11768.88,2353776.00,2353776.00,EUR,0.0,MASQUE
11972,K0762503,03/05/2023,MASSENA CREDIT II (INDIGO) - A2,FR0013357118,,EUR,2500.00,834.60,2086500.00,2086500.00,EUR,0.0,MASQUE
11973,ME008552684,03/05/2023,MASSENA CREDIT II (INDIGO) - A1,FR0013352804,,EUR,495.00,834.75,413201.25,413201.25,EUR,0.0,MASQUE

In [52]:
df_pos=pd.read_csv('./BANKVISTA_positions_20230503_20230504-190003.csv',sep=';',converters={
    'AccountID':str,
    'GroupID':str,
    'AccountList':str,
    'CodeName':str,
    'OtherID':str,
    'ManagementType':str,
    'InvestmentPolicy':str,
    'AccountID':str,
    'PortfolioId':str
    })
df_pos.head().columns

Index(['PortfolioId', 'Date', 'Security', 'ISIN', 'Bloomberg', 'SecurityCcy',
       'Quantity', 'Price', 'ValueSecurityCcy', 'ValueAccountCcy',
       'AccountCcy', 'AccruedInterest'],
      dtype='object')

In [ ]:

df_pos['AccountID']=df_pos['AccountID'].astype('str')
df_pos['PortfolioId']=df_pos['PortfolioId'].astype('str')
df_pos['AccountManager1']='MASQUE'


def extractDate(x):
    t=x.split(' ')
    if len(t) > 1:
        y=t[0]
    else:
        y=x
    return y

df_pos['CreationDate']=df_pos['CreationDate'].apply(extractDate)

df_pos['InvestmentPolicy']=df_pos['InvestmentPolicy'].apply(lambda x: x.strip() if x==x else '')

js_input=df_pos.to_json(orient='records')

URL = "http://127.0.0.1:5001/api/setpositions"

# defining a params dict for the parameters to be sent to the API
json = js_input

# sending get request and saving the response as response object
r = requests.post(url = URL, json = json)

# extracting data in json format
print(r)

In [123]:
df_pos=pd.read_csv('./BANKVISTA_positions_20230503_20230504-190003.csv',sep=';')
df_por=pd.read_csv('./BANKVISTA_portfolios_20230503_20230504-190004.csv',sep=';')

position = pd.merge(df_pos,df_por,left_on='PortfolioId',right_on='AccountID',how='inner')

position['AccountID']=position['AccountID'].astype('str')
position['PortfolioId']=position['PortfolioId'].astype('str')

def extractDate(x):
    t=x.split(' ')
    if len(t) > 1:
        y=t[0]
    else:
        y=x
    return y

position['CreationDate']=position['CreationDate'].apply(extractDate)
position['OpeningDate']=position['OpeningDate'].astype(str).apply(extractDate)
position['ClosingDate']=position['ClosingDate'].astype(str).apply(extractDate)

position['InvestmentPolicy']=position['InvestmentPolicy'].apply(lambda x: x.strip() if x==x else '')
js_input=position.to_json(orient='records')

URL = "http://127.0.0.1:5001/api/setpositions"

# defining a params dict for the parameters to be sent to the API
json = js_input

# sending get request and saving the response as response object
r = requests.post(url = URL, json = json)

# extracting data in json format
print(r)

<Response [200]>

In [120]:
position

5621      14:05:25
5622      14:05:25
5623      14:05:25
5624      14:05:25
5625      14:05:25
           ...
10522     09:52:45
10523     09:52:45
10524     09:52:45
10525     09:52:45
10526     09:52:45
Name: OpeningDate, Length: 1263, dtype: object

In [109]:
position.columns

Index(['PortfolioId', 'Date', 'Security', 'ISIN', 'Bloomberg', 'SecurityCcy',
       'Quantity', 'Price', 'ValueSecurityCcy', 'ValueAccountCcy',
       'AccountCcy', 'AccruedInterest', 'Status', 'EvaluationCurrency',
       'AccountName', 'AccountID', 'GroupID', 'AccountList', 'CodeName',
       'OtherID', 'ManagementType', 'CustodyBank', 'InsuranceCompany',
       'InsuranceType', 'InvestmentPolicy', 'ManagementGroup', 'ClientNature',
       'AccountManager1', 'AccountManager2', 'RelationshipManager',
       'CreationDate', 'OpeningDate', 'ClosingDate'],
      dtype='object')

In [96]:
for column in position:
    if position[position[column].astype(str) == "09:52:45"].shape[0] > 0:
        print(column)
        print(position[position[column] == "09:52:45"].shape[0])

In [3]:
# Show version of pandas
import pandas as pd
pd.__version__

'1.5.3'